table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

input,
select {
    border-radius: 4px;
    padding: 12px 20px;
    margin: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.input-small {
    width: 5%;
    padding: 8px 16px;
}

.btn {
    border-radius: 4px;
    padding: 14px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.btn-small {
    border-radius: 4px;
    padding: 8px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #f8f5f5;
}

button:focus {
    outline:none
}

h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px;
}